
*.xes
*.pnml
*.ndr

**/.vscode/
__pycache__/
enrichedcc-v1.0/Models/*
enrichedcc-v2.0-c5a43b3
enrichedcc-master
model-generator/
model-translator/
linac-frontend/


coral-test.csv
aig-output.json
sketchpad